[% MACRO TeX(expr,big) PERL %]
	use MIME::Base64 "encode_base64";
	open my $mt, "-|:raw",
		"mimetex", "-d", "-o", "-s",
		eval { $stash->get('big') } ? 5 : 3, $stash->get('expr')
		or die "mimetex: $!";
	my $gif = do {local $/; <$mt>};
	print '<img src="data:image/gif;base64,'.encode_base64($gif,'').'">';
[% END %]
