<!--
To investigate later:
https://marc.info/?l=openbsd-misc&m=119811580020972&w=2
http://am1225.narod.ru/software/Terminal_descriptions_for_OpenBSD_AMD-Intel_consoles.BSD_09_2011.pdf
https://www.opennet.ru/base/rus/cyr_openbsd.txt.html
http://violent.death.kiev.ua/soft.html
-->
