[% global.title = 'Modern Ultra-mobile PCs' %]

The market of sub-11" laptops, also known as "UMPCs":https://en.wikipedia.org/wiki/UMPC, seemed almost non-existent until last year, when quite a few new models emerged, most of them from China. Here I will try to summarize the available spectrum of modern models:


|_. Name |_. Price |_. Processor |_. RAM |_. Size |_. OS |_. Notes |
| "Gemini PDA":https://www.planetcom.co.uk/ | "£499-599":https://store.planetcom.co.uk/collections/gemini-pda | ARM: 2x Cortex A72 + 8x Cortex A53 + Mali 875MHz | 4GB | 171.4×79.3×15.1 mm | Android, optional dual-boot with GNU/Linux | Has optional 4G module and everything a smartphone is supposed to have. GNU/Linux support is questionable, no information whether mainline kernels will run. Keyboard was supposedly developed by people from Psion. |
| "GPD Pocket 2":https://gpd.hk/gpdpocket2 | "$540-628":https://aliexpress.com/w/wholesale-GPD-Pocket-2.html | Intel Core m3-7y30 | 4-8GB | 181×113×14 mm | Windows 10; partial support in mainline Linux | The TrackPoint was replaced with something they call Optical Finger Navigation. |
| "GPD Pocket":https://gpd.hk/gpdpocket | "$499":http://www.dx.com/p/gpd-pocket-7-aluminum-shell-mini-laptop-umpc-windows-10-system-cpu-x7-z8750-8gb-ram-128gb-rom-silver-488406 | Intel Atom x7-Z8750 | 4-8GB | 180×106×18.5 mm | Windows 10; partial support in mainline Linux | Wi-Fi antenna installed in the wrong place, causing much lower signal levels. No microSD card slot. |
| "GPD Win 2":http://gpd.hk/gdpwin2 | "$643.55":https://aliexpress.com/store/product/New-GPD-WIN-2-6-Inch-Handheld-Gaming-Laptop-Intel-Core-m3-7Y30-Windows-10-System/1281164_32884328950.html (pre-order) | Intel Core m3-7Y30 | 8GB | 162×99×25 mm | Windows 10 | More like a Windows game console. Until recently, there also was 5.5" GPD Win 1, which was much cheaper. It doesn't seem to be available now. |
| "One-Notebook OneMix 2 Yoga":https://www.geekbuying.com/item/One-Netbook-One-Mix-2-Yoga-Pocket-Laptop-Intel-Core-M3-Touch-ID-Silver-405731.html (pre-order) | "$639.99":https://www.geekbuying.com/item/One-Netbook-One-Mix-2-Yoga-Pocket-Laptop-Intel-Core-M3-Touch-ID-Silver-405731.html (pre-order) | Intel Core m3-7Y30 | 8GB | 182×110×17 mm | Windows 10 | Even less information seems to be available (where is the official site?). Has everything OneMix 1 has and a fingerprint scanner. |
| "One-Notebook OneMix Yoga":http://en.one-netbook.com/OneMix/ | "￥2958.00":https://item.jd.com/27865658387.html | Intel Atom x5-Z8350 (?) | 8GB | 182×110×17 mm | Windows 10 | Seems to be a clone of Pocket. The thing it has instead of a TrackPoint looks like OFN from Pocket 2. Has a stylus included. Official shop seems to be Chinese-only, not sure about delivery options. Screen rotates all the way, 360°. Backlit keyboard. |
| "Panasonic Let's Note":https://panasonic.jp/cns/pc/products/rz6c/ | <abbr title="オープン価格商品です。価格は販売店にお問い合わせください。">It is an open price item. Please contact the dealer for the price.</abbr> (&ge;$2000 on eBay) | Intel Core i5-7Y54 or m3-7Y30 | 8GB | 250×180×19.5 mm | Windows 10, maybe Windows 7 | This series of laptops has existed for quite a while, and continued being sold even when UMPC sales dropped outside Japan. Unlike other models here, it's 10" instead of around 7", but built to last, passing drop and vibration tests. Otherwise, not much information is available, except in Japanese. |
| "Pyra handheld":https://pyra-handheld.com/boards/pages/pyra/ | "€500-626":https://www.dragonbox.de/en/45-pyra (pre-order) | ARM: TI OMAP 5 (2x Cortex-A15 + 2x Cortex-M4 + PowerVR SGX544-MP2 + Vivante GC320) | 2-4GB | 139×87×32 mm | GNU/Linux | More like a game console. Optional 3G/4G/UMTS+GPS. Replaceable battery, CPU. Keyboard for thumb-typing. Open source hardware. |
| "Topjoy Falcon":https://www.ogadget.com/x1/falcon | "$399":https://www.kickstarter.com/projects/440069565/falcon-worlds-first-8-inch-2-in-1-laptop (pledge on Kickstarter); pen or sleeve not included; expected retail price is $699 | Intel Pentium Silver N5000 | 8GB | 200×130×20 mm | Windows 10; partial support in mainline Linux | 8" screen; "OFN" in place of a TrackPoint; capacitive stylus is supported. |

I like UMPCs for entirely personal and irrational reasons. For me, it's an ultimate geek toy. Nevertheless, my GPD Pocket 1 does increase my productivity at times when I'm away from a power outlet and don't have room to place a proper laptop (e.g.: on the road or on a useless phillosophy seminar I'm required to attend).
