[%~ global.title = 'Perhaps I should start a blog' ~%]

[%~ FOREACH a IN all_src.sort('date').reverse ~%]
[%~ IF ! a.date ~%][%~ NEXT ~%][%~ END ~%]
* ["[% a.date %] - [% process_template(a.src).stash.title | html %]":./[% a.dst | url %]]
[% END %]

p{text-align:right}. By Ivan Krylov
