[% global.title = 'Infinite Jest is overrated' %]

 - reductive statistics
 - low-pH chemist
 - emulsion's gradient
 - manipulate the f-stop to mimic Super 8 - that one is somewhat realistic, at least

For a book so encyclopedically grounded in reality, it's term misuse is jarring.
